.signup{

    height:100vh;

    background-color:green;

    display:flex;

    justify-content:center;

    align-items:center;

}



.signup-box{

    background-color:white;

    border-radius:40px;

    height:25rem;

    width:45rem;

    display:flex;

    justify-content:space-between;

    align-items:center;

}



.logo img{

    height:20rem;

    width:20rem;

    border-right:2px solid green;

}



.idea-input-group {

    display: flex;

    flex-direction: column;

    gap: 15px;

    width: 100%;

}



.idea-form{

    height:25rem;

    margin-right:40px;

    display:flex;

    justify-content:center;

    align-items:center;

}



.idea-form-group label{

    font-size:18px;

    font-weight:600;

}



.idea-input {

    width: 100%;

    padding: 12px;

    font-size: 14px;

    border: 2px solid #ccc;

    border-radius: 10px;

    outline: none;

    transition: border-color 0.3s;

    box-sizing: border-box;

}



.idea-input:focus {

    border-color: green;

}



.other-option{

    font-size:13px;

    display:flex;

    flex-direction:column;

    align-items:end;

    color:#007bff;

}

.idea-submit{

    border:none;

    border-radius:10px;

    background-color:#007bff;

    color:white;

    width:7rem;

    cursor:pointer;

    font-size:1.1rem;

    padding:8px;

    box-shadow:2px 2px 2px;

    align-self:center;

    margin-top:15px;

}



.idea-submit:hover{

   background-color: #063280;

}