@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-JetBrains: "JetBrains Mono", monospace;
  --font-dm-sans: "DM Sans", sans-serif;
  --color-primary: #1d4e1a;
  --color-secondary: #fff2cc;
  --animate-bounce: bounce 5s infinite ease-in-out;
  --animate-wiggle: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes dropdown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: grey transparent;
}

body {
  margin: 0;
  padding: 0;
}
