@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-JetBrains: "JetBrains Mono", monospace;
  --font-dm-sans: "DM Sans", sans-serif;
  --animate-bounce: bounce 5s infinite ease-in-out;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes dropdown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.animate-dropdown {
  animation: dropdown 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  transform-origin: top;
}
